.row.order {
    height: 600px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.choosen-items {
    padding: 0;
    background-color: rgba(230, 230, 250, 0.048);
    width: 600px;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: white solid 2px;
    border-top: white solid 2px;
    border-radius: 10px;
    overflow: auto;
}

.order-description {
    background-color: rgba(245, 245, 245, 0.068);
    width: 600px;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.icon-cart-plus, .icon-cart-minus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.icon-cart-plus {
    color: green;
    border: green solid 1px;
}

.icon-cart-minus {
    color: red;
    border: red solid 1px;
}

.empty-cart-h1 {
    font-family: fantasy;
    letter-spacing: 3px;
    color: grey;
    margin-top: 15px;
    padding-left: 15px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    overflow: hidden;
}

.cartLi {
    width: auto;
    height: 150px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 1px;
    background-color:#dcdde180;
    color:black;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 30px;
    text-decoration: underline rgba(255, 217, 0, 0.459);
   
    
}

.itemname {
    color: rgb(22, 21, 21);
}

.nums {
    color: black;
    background-color: white;
}

.remmoveFromCartItem {
    color: red;
    width: 33px;
    height: 33px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: transparent;
}

.remmoveFromCartItem:hover {
    color: goldenrod;
    transition: color 0.3s, background-color 0.3s;
    background-color: transparent;
}

.totpricetag {
    width: 50px;
    height: 50px;
    background-color: tomato;
    border: ivory 1px solid;
    color: ivory;
    border-radius: 50%;
    font-weight: bold;
    align-items: center;
    margin: 0;
}