.cart-nav {
    width: auto;
    height: 70px;
    background-color: black;
}

.cart-ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 70px;
    text-decoration: none;
    margin: 0;
}

.wishlist {
    height: 45px;
    width: 150px;
    border-radius: 15px;
    border: none;
    font-weight: bolder;
    background-color: goldenrod;
    color: ivory;
}

.wishlist:hover {
    background-color: rgb(173, 131, 25);
    transition:  all 0.3s;
}

.empty-cart {
    height: 45px;
    width: 150px;
    border-radius: 15px;
    border: none;
    font-weight: bolder;
    color: ivory;
    background-color: red;
}

.empty-cart:hover {
    background-color: rgb(200, 9, 9);
    transition: background-color 0.5s;
}

.your-cart {
    width: 150px;
    height: 45px;
    border: solid 2px rgb(110, 2, 2);
    font-weight: bolder;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    cursor: pointer;
}

.your-cart:hover {
    width: 150px;
    height: 45px;
    border: solid 2px #4d0101;
    font-weight: bolder;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(110, 2, 2);
    transition: border 0.5s, background-color 0.5s;
}

@media screen and (max-width: 500px) {
    .cart-li, .your-cart {
        font-size: 10px;
        font-weight: bolder;
        padding-top: 15px;
    }
    .cart-li:hover, .your-cart:hover {
        font-size: 10px;
        font-weight: bolder;
        padding-top: 15px;
    }
}