.cart-section {
    width: auto;
    height: 705px;
    margin: 0;
    padding: 0;
    color: ivory;
}

.container.order {
    height: 705px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    padding: 0;
}