.row.order-btn {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.res-btn, .next-btn, .wish-li-btn {
    height: 50px;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    border: none;
    color: ivory;
    font-size: 20px;
    font-weight: bolder;
}

.wish-li-btn {
    background-color: maroon;
    font-size: 15px;
}

.res-btn {
    background-color: goldenrod;
}

.next-btn {
    background-color: rgb(0, 128, 0);
}

.wish-li-btn:hover {
    background-color:  rgb(165, 2, 2);
    transition: background-color 0.3s;
}

.next-btn:hover {
    background-color: rgb(3, 110, 3);
    transition: all 0.3s ease-out;
}

.res-btn:hover {
    background-color: rgb(185, 140, 26);
    transition: all 0.3s ease-out;
}

@media only screen and (max-width: 600px) {
    .res-btn, .next-btn, .wish-li-btn {
        height: 45px;
        width: 120px;
        border-radius: 7px;
    }
}