.modUL {
    padding-left: 25px;
    margin-top: 15px;
    border-bottom: 1px solid darkgrey;
    border-top: 1px solid darkgrey;
}

.modLI {
    color: black;
    font-size: large;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
}

