.wishtLi {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 600px;
    height: 100px;
    padding-top: 5px;
    color:rgb(12, 12, 11);
    padding-bottom: 5px;
    background-color:#f1f2f5;
    border-radius: 10px;
    border: 1px solid black;
    list-style: none;
    cursor: pointer;
}

.liWish {
    display: flex;
    justify-content: space-evenly;
}

.wishBtnDiv {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    height: 30px;
}

.continue, .delWish {
    height: 30px;
    width: 75px;
    padding: 2px;
    border: none;
    border-radius: 10px;
    color: ivory;
}

.continue {
    background-color: green;
}

.delWish {
    background-color: maroon;
}

.wishItemName {
    color: black;
    margin-left: 15px;
    font-weight: bolder;
    text-align: center;
  
}

.wishDetails {
    color: black;
    margin-left: 15px;
    text-align: center;
}

