body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282c34;
    
}
*{
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 35px;
}
button{
    outline: none !important;
}